{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			{% if user.is_engineer %}
			<h2 style="color:blue">Projects</h2>
			{% endif %}
			<a class="btn btn-primary" href="/project/form">New Project</a>
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th style="cursor:pointer;">Project Name</th>
						<th style="cursor:pointer;">Start Date</th>
						<th style="cursor:pointer;">End Date</th>
						<th style="cursor:pointer;">Description</th>
						<th style="cursor:pointer;">Previous Knowledge</th>
						<th style="cursor:pointer;">Experience</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
						<td>{{ project.start }}</td>
						<td>{{ project.end }}</td>
						<td>{{ project.description }}</td>
						<td>{{ project.knowledge }}</td>
						<td>{{ project.experience }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

