{% extends "body.html" %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Hi There!</h1>
			<p>Welcome to the CS390-Python CS Capstone Project!</p>
			<br>
			<p>Feel free to <a href="/login">Log in</a> if you already have an account or <a href="/register">Register</a> for a new account.</p>
		</div>
		<div style="background-color:#e8e8e8;border:2px outset #cedbef;border-radius:5px;"class="container">
			<h3 style="text-decoration:underline;color:#779cd6;">About The Project</h3>
			<br>
			<p style="font-size:16px;">This project has been designed for students, professors, and engineers to create and collaborate on real-world projects. Engineers are able to create a project that they want to have finished by a certain date and students can request to volunteer for participating on the project. Not only does this allow the engineer finish the project sooner, but it also gives his/her company a look at possible future employees. The student is also greatly benefited because s/he is able to see what it is like to work on a real-world group project that is often not able to be taught in a classroom setting. Teachers are able to view the projects and who has been working on the projects. This allows them to either assign students to these already created projects or create another version of the project that is more suitable for a classroom setting. </p>
			<p style="font-size:16px;">Upon registration, you can select whether you are a student, professor or engineer. Each user type has different rights to of access and interaction with the website. For example, when signed up as an engineer, you are able to create projects, whereas students and teachers can only view and participate on projects given the engineers permission. Anyone is allowed to view the various groups under the 'Search' tab and easy communication between users can be done through the 'Comments' page. Feel free to meander about the site and checkout the available projects.
			</p>
			<br>
		</div>
		<br>
		<p>Capstone Project Created And Coordinated By Harris Christiansen, Naman Patwari, Jacob Dunbar And Brian Hanford</p>
		<br>
		<br>
    </div>

{% endblock %}
