{% extends "body.html" %}

{% block content %}

	<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<p>{{ student.get_full_name }} has been added to the {{ course.tag }} course</p>
	</div>
	<br>
	<a class="btn btn-primary" href="/university/course/manage?name={{ university.name }}&course={{ course.tag }}">Course Manager</a>
	<a style="margin-left:15px;"class="btn btn-primary" href="/university/course?name={{ university.name }}&course={{ course.tag }}">Course Page</a>
	</div>


{% endblock %}
