{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="panel panel-default">
			<form method="post" action="/professor?name={{ professors.first_name }}" class="panel-body validate">
			{% csrf_token %}
			<h2 style="color:blue;">Edit Your Page</h2>
			<br>
			<label for="university">University</label>
			<input style="width:300px;" type="text"  name="university" id="university" placeholder="University" class="form-control">
			<br>

			<label for="about">About Me</label>
			<textarea style="width:75%"rows="5" name="about" id="about" placeholder="Tell Us About Yourself" class="form-control"></textarea>
			<br>

			<label for="projects">Past Projects</label>
			<textarea style="width:75%"rows="6" name="projects" id="projects" placeholder="Project - short description" class="form-control"></textarea>
			<br>

			<input type="submit" value="Save" class="btn btn-primary">
			<br>
			</form>
		</div>
	</div>


{% endblock %}
