{% extends "body.html" %}
{% block content %}
	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<h2 style="color:blue">Students</h2>
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th style="width:15%;cursor:pointer">Name</th>
						<th style="width:50%;cursor:pointer">University</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
					<tr id="row" style="cursor:pointer">
					{% if student.is_student %}
						<td><a href="/student?name={{ student.first_name }}">{{ student.get_full_name }}</a></td>
					{% endif %}
						<td>{{ student.school }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<style>
		#row:hover {
			background-color:#a7b3c6;
		}
	</style>
{% endblock %}
