{% extends "body.html" %}

{% block content %}

	<!-- Content -->

	{% if is_student == True %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ user.get_full_name }}</h1>
			<p>{{ user_page.university }}<p>
		</div>
		<h3>About {{ user.first_name }}</h3>
		<br>
		<p>{{ user_page.about }}
		<br>
		<h3>Skills and Attributes</h3>
		<br>
		<ul>{{ user_page.skills }}</ul>
		<br>
		<br>
	</div>

	{% elif user.is_professor == True %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ user.get_full_name }}</h1>
			<p>{{ user_page.university }}<p>
		</div>
		<h3>About Professor {{ user.last_name }}</h3>
		<br>
		<p style="width:60%;margin-left:15px">{{ user_page.about }}</p>
		<br>
		<h3>Classes</h3>
		<ul>{{ user_page.classes }}</ul>
		<br>
		<br>
	</div>

	{% elif user.is_engineer == True %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ user.get_full_name }}</h1>
			<p>Alma Mater: {{ user_page.university }}<p>
		</div>
		<h3>About {{ user.get_full_name }}</h3>
		<br>
		<p style="width:60%;margin-left:15px;">{{ user_page.about }}</p>
		<br>
		<h3>About Company</h3>
		<br>
		<p style="width:60%;margin-left:15px;">{{ user_page.aboutcomp }}</p>
		<br>
		<h3>Past Projects</h3>
		<br>
		<p style="width:60%;margin-left:15px;">{{ user_page.projects }}</p>
		<br>
		<br>
	</div>
	{% endif %} 

{% endblock %}
