{% extends "body.html" %}
{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<h2 style="color:blue">All Users</h2>
			<form method="post" enctype="multipart/form-data" action="/user/all/filter" class="panel-body validate"> {% csrf_token %}
				<input name="searched" for="input_str" style="margin:3px;float:right"type="submit" value="Search" class="btn btn-primary">
				<input style="margin:3px;float:right;width:200px;"type="text" name="search" id="search" placeholder="Search User" class="form-control">
			</form>
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th style="width:10%;cursor:pointer">Name</th>
						<th style="width:10%;cursor:pointer">Status</th>
						<th style="width:50%;cursor:pointer">University</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr id="row" style="cursor:pointer">
						<td><a href="/user/other?name={{ user.uname }}">{{ user.get_full_name }}</a></td>
						{% if user.is_student == True %}
						<td>Student</td>
						{% elif user.is_professor == True %}
						<td>Professor</td>
						{% elif user.is_engineer == True %}
						<td>Engineer</td>
						{% else %}
						<td> </td>
						{% endif %}
						<td> {{ user.school }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<style>
		#row:hover {
			background-color:#a7b3c6;
		}
	</style>
{% endblock %}
